body{
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}
.container {
}
.inner-content {
}
.item-cont {
}
.item-top {
}
.image {
}
.name-of-graduate {
}
.status {
}
.article {
}
.title {
}
.text {
}